body {
    font-family: "jaf-domus-titling-web", "ff-enzo-web", sans-serif; 
    color: #eee; 
    background-color: #111;
    margin: 0;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
}

.link a {
    color: #f056c1; 
}

.intro {
    padding: 20px;
}

.header {
    font-weight: 600;
}

.tilde {
    font-size: 30px; 
    float: left; 
    color: #24cfc1;
    margin-top: -16px;
}

.title {
    float: left;
    font-size: 16px;
}

#source {
    float: right;
    font-size: 12px;
    font-weight: 500;
}

#source:hover {
    text-decoration: underline;
}

#source a {
    color: #444;
}

.subtitle {
    clear: both;
    float: left;
    font-weight: 200;
    margin-top: 10px;
    font-size: 10px;
}

.list {
    clear: both;
    float: left;
    width: 60%;
    max-width: 700px;
    min-width: 300px;
    font-weight: 200;
    font-size: 14px;
    text-align: left;
    margin-top: 40px;
}

.list div {
    margin-right: 30px;
    margin-bottom: 10px;
    float: left;
}

#photoContainerTitle {
    font-weight: 300;
    margin-top: 80px;
    clear: both;
    float: left;
    opacity: 1;
    -webkit-transition:opacity 0.7s;
    -moz-transition:opacity 0.7s;
    transition:opacity 0.2s;
}

#photoContainerTitle:hover {
    text-decoration: underline;
}

#radio {
    clear: both;
    margin-top: 40px;
    float: right;
    width: 100%;
}

#radio iframe {
    height: 70px;
    width: 100%;
}

#photoContainer {
    text-align: left; 
    clear: both;
    float: left;
    margin-top: 6px;
}

.imageContainer img {
    transition: box-shadow 0.2s ease-in-out;
}

.imageContainer .date {
    margin-bottom: 10px; 
    margin-left: 20px; 
    display: block; 
    color: #444; 
    font-weight: 500;
    font-size: 14px;
    -webkit-transition:opacity 0.7s;
    -moz-transition:opacity 0.7s;
    transition:opacity 0.2s;
}

.imageContainer:hover img {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.imageContainer {
    position: relative;
    display: inline-block;
    vertical-align: top;
    z-index: -1;
    opacity: 0;
    margin-right: 0;
    margin-left: 0;
}

.imageContainer div {
    margin-bottom: 20px;
}

/********* viewport divides ***********/
  
/* Small devices (tablets, 768px and up) */
@media (min-width: 500px) {
    body {
        padding: 30px;
    }
    .intro {
        padding: 0;
    }
    .title {
        font-size: 20px;
    }
    .subtitle {
        font-size: 14px;
    }
    #photoContainerTitle {
        float: right;
    }
    #radio {
        width: 300px;
    }
    #radio iframe {
        border-radius: 6px;
    }
    #photoContainer {
        text-align: right; 
    }

    .imageContainer .date {
        opacity: 0;
        margin-bottom: 5px; 
    }

    .imageContainer:hover .date {
        opacity: 1;
    }

    .imageContainer {
        margin-left: 24px; 
        margin-right: 0;
    }
    .imageContainer div {
        margin-bottom: 0;
    }
    .imageContainer img {
      border-radius: 6px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    body {
        padding: 40px;
    }
    .title {
        font-size: 30px;
    }
    .subtitle {
        font-size: 16px;
    }
    .list {
        font-size: 18px;
    }
}

